@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}


/*селекторы для кнопок*/
.button {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    background-color: #756257;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    ;
}

.blue-color {
    background-color: #83B3D3;
}

.green-color {
    background-color: #7DB54F;
    ;
}

/*главная страница +общие селекторы для обеих страниц*/

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


body {
    width: 1200px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    color: #333333;
    margin: 0 auto;
}

 h2.visually-hidden, h1.visually-hidden {
    display: none;    
}

.page-navigation {
    display: flex;
    width: 1200px;
    flex-direction: row;
    justify-content:space-around;
   
}

.navigation-list {
    width: 310px;
    margin-right: auto;
}

.head-logo{
    width: 140px;
    margin: 0;
}

.user-menu {
    width: 250px;
    margin-left: auto;
}

.navigation-link {

    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color: #333333;
    text-decoration: none;
}

.page-container {
    margin: 0 auto;
    width: 1200px;
}

.promo-index {
    background-image: url("../img/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.index-logo {
    display: block;
    width: 458px;
    margin: 0 auto;

}

.divider{
    background-image: url("../img/divider.svg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.slogan {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
    height: 80px;
}

.benefits {
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.benefits-container {
    width: 720px;
    margin: 0 auto;
}

.benefits-block {
    display: flex;
    background-color: #83B3D3;
    color: #fff;
    text-align: center;
    
}

.benefits-block:nth-child(2) {
    flex-direction: row-reverse;
}

.benefits-block div:nth-child(1) {
    width: 400px;
}

.benefits-block div:nth-child(2) {
    width: 800px;
}

.benefits-slogan-text {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;

}

.benefits-div-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    text-align: center;
}

.benefits-div-items {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 0 75px;
}

.search-catalog {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    display: flex;
    width: 720px;
}

.benefits-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase; 
}


.light-blue {
    background-color: #83B3D31F;
    ;
}

.newsletter {
    display: flex;
    width: 1200px;
    flex-direction: column;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;   
    background-image: url("../img/photo-newsletter.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    
}

.option-hotels {
    background-image: url("../img/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.phone-number {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    color: inherit;
    text-decoration: none;
}

.house {
    background-image: url("../img/icon/icon-house.svg");
    background-repeat: no-repeat;
    background-position: top center;
}

.eat {
    background-image: url("../img/icon/icon-eat.svg");
    background-repeat: no-repeat;
    background-position: top center;
}

.present {
    background-image: url("../img/icon/icon-present.svg");
    background-repeat: no-repeat;
    background-position: top center;
}

.search-catalog {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
}

footer {
    display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: space-around;
}

.search-catalog a {
    width: 575px;
    height: 60px;
}
/*дальше только специфичные селекторы для каталога*/


.option-hotels {
    display: flex;
    width: 1200px;
    background-image: url("../img/catalog-background.jpg");
    color: #fff;
}

.option-hotels h1 {
   font-size: 60px;
   font-weight: 700;
   line-height: 78px;
   text-align: left;
}

.catalog-control-panel {
   font-size: 30px;
   font-weight: 700;
   line-height: 39px;
   text-align: left;
   text-transform: uppercase;
}

.card-link {
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    text-align: left;
    text-decoration: none;
    color: #000;

}

.hotel-card span {
   font-size: 18px;
   font-weight: 400;
   line-height: 23px;
   text-align: left;
}

.catalog-newsletter {
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}