@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}


/*селекторы для кнопок*/
.button {
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    background-color: #756257;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    ;
}

.blue-color {
    background-color: #83B3D3;
}

.green-color {
    background-color: #7DB54F;
    ;
}

/*главная страница +общие селекторы для обеих страниц*/


body {
    width: 1200px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    color: #333333;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.page-navigation {
    display: flex;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
    font-family: PT Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;

}

.navigation-list {
    display: flex;
    width: 310px;
    padding: 0;
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin-left: 70px;
}

.navigation-link {
    display: block;
    color: #333333;
    text-decoration: none;
    padding: 20px 0px;
    margin: 0;
    

}
.head-logo{
    width: 138px;
    margin: 0px 210px 0px 150px ;
    padding: 0;
}

.user-menu-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 290px;
    padding: 0;
    margin: 0;
    margin-right: 70px;
    list-style-type: none;
}

.navigation-link.button {
    color: #ffffff;
    padding: 10px 50px;
}

.main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.promo-index {
    background-image: url("../img/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 50px;
}

.index-logo {
    display: block;
    width: 458px;
    margin: 0 auto;
    padding-bottom: 25px;

}

.divider{
    background-image: url("../img/divider.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.slogan {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    text-transform: uppercase;
}

.benefits {
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.benefits .slogan {
    margin-top: 60px;
    margin-bottom: 20px;
}

.benefits-slogan-text {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 80px;

}

.benefits-container {
    width: 720px;
    margin: 0 auto;
    text-align: center;
}

/*Стили для блоков с фото*/
.benefits-block {
    display: flex;
    background-color: #83B3D3;
    color: #fff;
    flex-grow: 1;
    height: 384px;
}

.benefits-block-info {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: 220px;
}

/*Стили для блоков со значками*/
.benefits-div-list {
    display: flex;
    min-height: 384px;
    width: 1200px;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.benefits-div-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    width: 400px;
}

.benefits-name {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase; 
}

.benefits-name.benefits-div-name {
    padding: 0;
    margin: 100px auto 20px auto;
    width: 200px;
}

.benefits-text {
    width: 240px;
    margin: 0px auto 0px auto;
}

.benefits-number {
    padding-bottom: 25px;
}
 
.house {
    background-image: url("../img/icon/icon-house.svg");
    background-repeat: no-repeat;
    background-position: top 30%  left 50%;
}

.eat {
    background-image: url("../img/icon/icon-eat.svg");
    background-repeat: no-repeat;
    background-position: top 30%  left 50%;
}

.present {
    background-image: url("../img/icon/icon-present.svg");
    background-repeat: no-repeat;
    background-position: top 30%  left 50%;
}

.search-catalog {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    align-items: center;
    justify-content: center;
   
}

.search-catalog .slogan {
    padding: 0;
    margin-top: 90px;
    margin-bottom: 30px;
} 

.search-catalog .text {
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}

.search-catalog .button {
    display: block;
    width: 575px;
    text-align: center;
    padding: 15px 0px;
    margin: 0;
    margin-bottom: 90px;
}

.light-blue {
    background-color: #83B3D31F;
    ;
}

.newsletter {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;   
    background-image: url("../img/photo-newsletter.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: #fff;
}

.newsletter .slogan {
    padding: 0;
    margin: 90px 0px 30px 0px;
}

.newsletter .text {
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
}

.newsletter .email {
    margin: 0;
    margin-bottom: 90px;
    width: 600px;
    height: 60px;
}

.option-hotels {
    background-image: url("../img/catalog-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

footer {
    display: flex;
    padding: 40px 70px 30px 70px;
    margin: 0px;
}

.footer-messengers {
    width: 160px;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
}

.footer-messengers .item-messengers {
    width: 50px;
    height: 50px;
    margin: 0px;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.item-messengers:nth-child(3n) {
    margin-right: 0;
}

.phone-number {
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    margin-left: 180px;
}

.logo-footer {
    width: 120px;
    height: 35px;
}
/*дальше только специфичные селекторы для каталога*/

.option-hotels-container {
    display: flex;
    width: 1200px;
    flex-direction: row;
    padding: 0;
    margin: 0 auto;
}

.option-hotels-container div {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0;
    margin: 0;
}

.option-hotels a:nth-child(1) {
    background-image: url("../img/icon/logo-home-page.svg")
}

.option-hotels-title {
    background-image: url("../img/catalog-background.jpg");
    color: #fff;
}

.option-hotels h1 {
   font-size: 60px;
   font-weight: 700;
   line-height: 78px;
   text-align: left;
   color: #fff;
   margin: 0px;
}

.catalog-control-panel {
   display: flex;
   margin: 43px 70px;
   padding: 0;
   font-size: 30px;
   font-weight: 700;
   line-height: 39px;
   text-align: left;
   text-transform: uppercase;
}

.sorting-type {
    margin-left: 190px;
    margin-right: 80px;
}

.sorting-control {
    width: 287px;
    height: 48px;
}

.sorting-list {
    display: flex;
    width: 154px;
    padding-right: 0px;
}

.sorting-items {
    width: 48px;
    height: 48px;
}

.sorting-items:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
}


.hotels-group {
    display: flex;
    flex-direction: column;
    width: 1057px;
    margin: 0 auto;
    padding: 0;
}

.hotel-card {
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 1057px;
    justify-content: space-around;
   
}

.card-link {
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    text-align: left;
    text-decoration: none;
    color: #000;

}

.hotel-card span {
   font-size: 18px;
   font-weight: 400;
   line-height: 23px;
   text-align: left;
}

.show-more-container {
    text-align: center;
    padding: 30px 287px;
    border-bottom: solid lightgrey 1px;
}

.show-more-container button {
    width: 625px;
    height: 55px;
    margin: 0 auto;
    padding: 0;
   
}

.pagination-show-more-container button {
    width: 625px;
    margin: 0 auto;
    padding: 0;
    justify-content: center ;
}

.pagination-container {
    display: flex;
    margin-top: 31px;
}

.pagination {
    display: flex;
    padding: 0;
    margin: 0; 
    list-style-type: none;
    margin-right: 300px;
    min-width: 55px;
}

.pagination .pagination-item {
    width: 55px;
    height: 55px;
    padding: 0px;
    margin-right: 8px;
}

.pagination-link {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    text-align: center;
}

.pagination-container .output {
    display: flex;
    width: 390px;
    padding: 0;
    margin: 0;
    justify-self: center;
}

.output-span {
    padding-right: 55px;
}

.output-list {
   width: 160px;
   height: 48px;

}


.catalog-newsletter {
    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;   
}

.catalog-newsletter .slogan {
    padding: 0;
    margin: 90px 0px 30px 0px;
}

.catalog-newsletter .text {
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
}

.catalog-newsletter .email {
    margin: 0;
    margin-bottom: 90px;
    width: 600px;
    height: 60px;
}